# ========== Java ========== #
*.class
*.jar
*.war
*.log

# ========== IDE (IntelliJ, Eclipse, STS) ========== #
.idea
*.iws
*.iml
*.ipr
.classpath
.project
.factorypath
.settings/
.springBeans
.sts4-cache
.apt_generated
bin/
out/

# Allow bin/out inside src
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# ========== Build Tools ========== #
.gradle
/build/
build/
target/

# Allow Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# ========== System Files ========== #
.DS_Store
HELP.md

# ========== NetBeans ========== #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========== VS Code ========== #
.vscode/

# ========== Secrets ========== #
application-local.yml
*.env
